<h2>TRANSFORMATION OPERATORS</h2>
<!-- No click event is needed for some elements since we attach the fromEvent Event Listener to this button -->

<div style="display: flex; width: 100%; flex-wrap: wrap">
  <button (click)="switchMapOperator()" mat-raised-button color="primary">
    SwitchMap Operator
  </button>
  <button #switchMapClick mat-raised-button color="primary">
    SwitchMap for Click Event
  </button>
  <button [routerLink]="['/products/1']" mat-raised-button color="primary">
    Go to Products
  </button>
  <button #clickLocation mat-raised-button color="primary">
    Track Click Locations using MergeMap
  </button>
</div>

<h2>Filter Using Take Operator</h2>
<div style="display: flex; width: 100%; flex-wrap: wrap">
  <button (click)="takeOneValue()" mat-raised-button color="primary">
    Take n value
  </button>
  <button (click)="filterInterval()" mat-raised-button color="primary">
    Filter n from Interval
  </button>
  <button #firstClick mat-raised-button color="primary">
    Where did you click first?
  </button>

  <button (click)="takeUntilTimer()" mat-raised-button color="primary">
    TakeUntil Timer
  </button>
  <button (click)="takeWhile()" mat-raised-button color="primary">
    TakeWhile stream
  </button>
  <button (click)="takeWhileVsFilter()" mat-raised-button color="primary">
    TakeWhile vs Filter
  </button>
  <button (click)="takeLastNValues()" mat-raised-button color="primary">
    Take Last N values
  </button>
</div>
<h2>First, Last, Single</h2>
<div style="display: flex; width: 100%; flex-wrap: wrap">
  <button (click)="firstValue()" mat-raised-button color="primary">
    First value no cond.
  </button>
  <button (click)="firstValueWithCond()" mat-raised-button color="primary">
    First value match Condn.
  </button>
  <button (click)="noValueMatchCondn()" mat-raised-button color="primary">
    No value match Condn.
  </button>
  <button (click)="defaultValue()" mat-raised-button color="primary">
    Default value match Condn.
  </button>
</div>
<h2>Skip Operators</h2>
<div style="display: flex; width: 100%; flex-wrap: wrap">
  <button (click)="skipNValues()" mat-raised-button color="primary">
    Skip N Values
  </button>
  <button (click)="skipWhileValues()" mat-raised-button color="primary">
    SkipWhile Operator
  </button>
  <button (click)="skipUntilTimer()" mat-raised-button color="primary">
    SkipUntil Timer
  </button>
  <button (click)="skipLastNValues()" mat-raised-button color="primary">
    SkipLast N Values
  </button>
</div>

<h2>Scan & Reduce Operators</h2>
<div style="display: flex; width: 100%; flex-wrap: wrap">
  <button (click)="scanValues()" mat-raised-button color="primary">
    Scan Operator
  </button>
  <button (click)="reduceValues()" mat-raised-button color="primary">
    ReduceOperator
  </button>
</div>

<h2>DebounceTime & Debounce</h2>
<div style="display: flex; width: 100%; flex-wrap: wrap">
  <form [formGroup]="myForm">
    <div style="margin-bottom: 8px">
      <mat-form-field>
        <mat-label>DebounceTime Name</mat-label>
        <input matInput type="text" formControlName="firstName" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Debounce Name</mat-label>
        <input matInput type="text" formControlName="lastName" />
      </mat-form-field>
    </div>
  </form>
</div>
