<h2>TRANSFORMATION OPERATORS</h2>
<div style="display: flex; width: 100%; flex-wrap: wrap">
  <button (click)="switchMapOperator()" mat-raised-button color="primary">
    SwitchMap Operator
  </button>
  <button #switchMapClick mat-raised-button color="primary">
    SwitchMap for Click Event
  </button>
  <button [routerLink]="['/products/1']" mat-raised-button color="primary">
    Go to Products
  </button>
  <button #clickLocation mat-raised-button color="primary">
    Track Click Locations using MergeMap
  </button>
</div>
